.container_8 {
  margin-top: 200px;
  margin-bottom: 200px;
}
.our-people {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.655);
}
.our-people-p {
  color: rgba(0, 0, 0, 0.655);
}

.inner_colour_8 {
  background: linear-gradient(25deg, rgb(247, 247, 247), rgb(170, 213, 229));
  height: 264px;
  /* width: 100%; */
  padding: 75px;
  display: flex;
  margin-left: 100px;
}

.con_8_div_1 {
  width: 350px;
}

.con_8_div_2 {
  margin-left: 100px;
}

.con_8_div_2_img {
  width: 580px;
  margin-top: -114px;
  height: 550px;
}

.button_8_div {
  max-width: calc(178.22px + 13.913vw);
  padding: calc(8.6004px + 0.6714vw) calc(11.467px + 0.8952vw);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border: 0px;
  background: linear-gradient(
    90deg,
    rgba(80, 167, 186, 0.95),
    rgba(103, 147, 174, 0.95)
  );
  color: rgb(255, 255, 255);
  box-shadow: none;
  overflow: hidden;
  margin: calc(7.6448px + 0.5968vw) 0px 0px;
  position: relative;
  border-radius: 0px;
  cursor: pointer;
}

@media only screen and (max-width: 1160px) and (min-width: 968px) {
  .inner_colour_8 {
    background: linear-gradient(25deg, rgb(247, 247, 247), rgb(170, 213, 229));
    height: 264px;
    /* width: 100%; */
    padding: 75px;
    display: flex;
    /* margin-left: 100px; */
    padding-left: 20px;
  }
}

@media only screen and (max-width: 1160px) and (min-width: 968px) {
  .inner_colour_8 {
    background: linear-gradient(25deg, rgb(247, 247, 247), rgb(170, 213, 229));
    height: 264px;
    /* width: 100%; */
    padding: 75px;
    display: flex;
    margin-left: 10px;
    padding-left: 20px;
  }

  .con_8_div_2 {
    margin-left: 35px;
}
}
